version: '3.8'

services:
  # Фронтенд через nginx
  frontend:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - order-service

  # Order Service
  order-service:
    build: ./order-service
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./order-service:/app  # Монтируем исходный код
      - order-data:/data      # Том для данных
    restart: unless-stopped
  # Payment Service
   frontend:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - order-service
    restart: unless-stopped

  # Notification Service
  notification-service:
    build: 
      context: ./notification-service
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_HOST=rabbitmq
    command: python app.py
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
volumes:
  order-data:  # Том для хранения заказов
networks:
  app-network:
    driver: bridge